<div class="mb-3 hero">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <img src="assets/images/logos/nullref_without_bg.png" alt="Logo de Nullref" class="logo">
        <h1 class="text-body-emphasis">Nullref</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Nous sommes une équipe soudée de développeurs.euses. Nous avons initié ce projet afin de nous soutenir mutuellement, d'apprendre, de travailler sur de gros projets et plus encore.
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
                À propos
            </button>
            <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
                Nos projets
            </button>
        </div>
    </div>
</div>

<div class="mb-3 projects">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h2 class="text-body-emphasis">Projets</h2>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Des projets arrivent bientôt, restez à l'écoute !
        </p>
    </div>
</div>

<div class="mb-3 members">
    <div class="p-5 bg-body-tertiary rounded-3">
        <h2 class="text-body-emphasis text-center mb-4">Membres de l'équipe</h2>
        <div class="row"></div>
    </div>
</div>